*{
    margin: 0px;
    padding: px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: black;
}
.hd3{
    background-image: url(background7.jpg);
    filter:hue-rotate(10deg) ;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.hd2{
    background-image: url(background8.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter:hue-rotate(10deg) ;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.hd1{
    background-image: url(background5.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    filter:hue-rotate(20deg) ;
    height: 400px;
    background-position: center;
    background-size: cover;
}
.btme{
    text-shadow: 4px 6px 5px red,
                 -4px -6px 5px blue;
    font-size: clamp(1rem, 3vw, 2rem);
    margin-left: 10px;

}
.specialize{
    font-size:clamp(0.8rem, 3vw, 1.3rem);
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-left: 20px;
}
.specializee{
    font-size: 1.1rem;
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 70px;
    text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
}

.stry{
    font-size: clamp(0.8rem, 3vw, 1.3rem);
    letter-spacing: 2px;
    word-spacing: 2px;
    margin-bottom: 10px;
}
.spec{
    font-size: clamp(1.1rem, 1vw, 2rem);
}
.so{
    
    user-select: none;
}
.paragraph{
    color: white;

}
.spaceing{
    height: 1px;
    background-color: blue;
    color: red;
    width: 20px;
}
nav{
    display: flex;
    background-color: rgba(0, 0, 0, 0.486);
    color: white;
    height: 70px;
    align-items: center;
    justify-content: space-around;
}
.burger{
    display: none;
}
.burger div{
    width: 25px;
    height: 2px;
    background-color: white;
    margin-top: 5px;
}
.div{
    display: flex;
}
.lg{
    font-size: clamp(1.6rem, 5vw, 2.9rem);
    pointer-events: none;
    user-select: none;
}
.paragraph{
    width: 80%;
    margin-left: 10%;
}
.kj{
    text-align: center;
    margin-top: 60px;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bolder;
    color: rgba(219, 218, 218, 0.767);
}
.kj2{
    text-align: center;
    margin-top: 60px;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bolder;
    color: rgb(9, 255, 0);
}
.kj3{
    text-align: center;
    margin-top: 60px;
    font-size: clamp(1.2rem, 4vw, 2rem);
    font-weight: bolder;
    color: rgb(255, 0, 0);
}
.kj1{
    text-align: center;
    margin-top: 40px;
    font-size: clamp(1.2rem, 7vw, 2rem);
    font-weight: bolder;
    color: rgb(0, 102, 255);
}
.wd{
    text-align: center;
    margin-top: 40px;
    letter-spacing: 7px;
    font-size: clamp(1.2rem, 6vw, 4rem);
    color: white;
    text-shadow: 4px 6px 5px red,
                 -4px -6px 5px blue;
}
.cont{
    text-shadow: 4px 6px 5px red,
                 -4px -6px 5px blue;
    color: white;
    width: 100%;
    margin-top: 30px;
    font-size: clamp(1.1rem, 4vw , 3.6rem);
}
.hw{
    color: white;
    margin-top: 30px;
    overflow: hidden;
    width: 78%;
    margin-left: 20%;
    text-shadow: 4px 6px 5px red,
                 -4px -6px 5px blue;
    font-size: clamp(1rem, 4vw , 2rem);
    box-shadow: 8px 8px 5px red,
    -8px -8px 5px blue;
    margin-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 30px;
    padding-bottom: 25px;
}
.rem{
    width: 1px;
    height: 1px;
    margin-left: -6px;
    opacity: 0;
    user-select: none;
}
.mls{
    color: red;
    text-shadow: 4px 6px 5px blue,
                 -4px -6px 5px blue;
    text-decoration: underline rgb(0, 225, 255);
    cursor: pointer;
    width: 50%;
}

.form{
    color: white;
    background-color: white;
    border: 1px solid white;
    margin-top: 70px;
    width: 80%;
    border-radius: 20px;
    margin-left: 10%;
    overflow: hidden;
    margin-bottom: 70px;

}
.tp{
    margin-top: 0px;
    font-size: clamp(1rem, 6vw, 1.5rem);
}
.t1p{
    font-size: clamp(1rem, 6vw, 1.5rem);
    margin-top: 20px;
}
.top{
    width: 100%;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.548);
}
.top1{
    width: 100%;
    height: 15px;
    
}
footer{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    place-content: center;
    height: 120px;
    color: #ffffff;
    background-color: #000000;
}
.mesge{
    background-color: rgba(82, 82, 82, 0.384);
    width: 100%;
    height: 110px;
    border: 2px solid black;
    border-radius: 5px;
}
.msgg{
    width: 70%;
    margin-left: 5%;
}
.miil{
    background-color: rgba(82, 82, 82, 0.384);
    height: 35px;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
}
.mil{
    width: 70%;
    margin-left: 5%;
}

.bt{
    background-color: rgb(0, 0, 0);
    width: 120px;
    height: 45px;
    color: white;
    font-weight: lighter;
    font-size: 0.8rem;
    margin-left: 5%;
    border: 2px solid black;
    cursor: pointer;
    margin-top: 40px;
    border-radius: 1px;
}
.nm1{
    width: 33%;
    margin-left: 5%;
}
.nm2{
    width: 33%;
    margin-left: 4%;
}
.frsnm{
    background-color: rgba(82, 82, 82, 0.384);
    width: 100%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px;
    
}
.inv{
    position: absolute;
    color: red;
    user-select: none;
    font-size: 0.8rem;
    pointer-events: none;
    text-shadow: 1px 1px 1px red;
}

.surnm{
    background-color: rgba(82, 82, 82, 0.384);
    width: 100%;
    height: 35px;
    border: 2px solid black;
    border-radius: 5px; 
    
}
.errorss{
    
    color: red;
    font-size: clamp(0.8rem, 4vw , 2rem);
    margin-top: 20px;
    margin-left: 20px;
    user-select: none;
    pointer-events: none;
    text-shadow: 1px 1px 1px red;
    width: 100%;
    border-radius: 5px
}
.errornull{
    
    color: rgb(0, 180, 24);
    font-size: clamp(0.8rem, 4vw , 2rem);
    margin-top: 20px;
    margin-left: 20px;
    user-select: none;
    pointer-events: none;
    text-shadow: 1px 1px 1px rgb(0, 180, 24);
    width: 100%;
    border-radius: 5px
}
.op{
    opacity: 0;
}
.none{
    display: none;
}
.nm{
    margin-top: 40px;
    font-size: clamp(1rem, 4vw , 2rem);
    margin-left: 20px;
    color: black;
    text-shadow: 2px 4px 5px red,
                 -2px -4px 5px blue;
}
.reqspecial{
    text-shadow: 3px 4px 5px blue,
                 -3px -4px 4px red;
                 color: rgba(0, 0, 0, 0.726);
    margin-top: 10px;
    font-size: clamp(0.8rem, 3vw , 1.4rem);
}
.req{
    text-shadow: 3px 4px 5px blue,
                 -3px -4px 4px red;
                 color: rgba(0, 0, 0, 0.726);
    margin-top: 10px;
    font-size: clamp(0.8rem, 3vw , 1.4rem);
}
.em{
    text-shadow: 2px 4px 5px red,
                 -2px -4px 5px blue;
    margin-top: 40px;
    font-size: clamp(1rem, 4vw , 2rem);
    margin-left: 20px;
    color: black;
}
.ms{
    margin-top: 40px;
    font-size: clamp(1rem, 4vw , 2rem);
    margin-left: 20px;
}
.eg{
    margin-top: 40px;
    text-shadow: 2px 4px 5px red,
                 -2px -4px 5px blue;
    font-size: clamp(1rem, 4vw , 2rem);
    margin-left: 20px;
    color: black;
}

.name{
    display: flex;
}


.fm{
    color: black;
    text-shadow: 2px 4px 5px red,
                 -2px -4px 5px blue;
    margin-top: 20px;
    font-size: clamp(1.2rem, 4vw , 2rem);
    margin-left: 20px;
    
}


.ml{
    display: flex;
    place-content: center;
}
.tch{
    display: flex;
    align-items: center;
    place-content: center;
}
.lnsp1{
    text-align: center;
    margin-top: 30px;
    font-size: clamp(1.2rem, 2vw, 4rem);
    word-spacing: 20px;
    color:rgb(255, 0, 0) ;
}
.lnsp{
    text-align: center;
    margin-top: 30px;
    font-size: clamp(1.2rem, 2vw, 4rem);
    word-spacing: 20px;
    color:rgb(9, 255, 0) ;
}
.lnsp2{
    text-align: center;
    margin-top: 30px;
    font-size: clamp(1.2rem, 2vw, 4rem);
    word-spacing: 20px;
    color:rgb(0, 238, 255) ;
}
.ln{
    text-align: center;
    margin-top: 30px;
    font-size: clamp(1.2rem, 2vw, 4rem);
    word-spacing: 20px;
    color:rgb(255, 0, 200) ;
}
.kz{
    animation: cng1 3s ease  infinite 0s;
    
    
}
.cds{
    animation: cng1 3s ease  infinite 0s;
}
.ul{
    display: flex;
    width: 50%;
    margin-top: 1%;
    list-style: none;
    text-decoration: none;
    font-size: clamp(1rem, 4vw, 1.6rem);
    justify-content: space-around;
}
a{
    color: white;
    text-decoration: none;
}
.artcle{
    display: flex;
}
#hm{
    animation: cng1 3s ease  infinite 0s;display: flex;
    word-spacing: 30opx;
    user-select: none;
}

.active{
    background-color: rgba(255, 255, 255, 0.37);
    border-radius: 5px;
    padding-left: 1px;
    padding-right: 1px;
    
}
#hm:hover{
    color: black;
    animation: c2ng1 3s ease  infinite 0s;
    text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
}
#ab:hover{
    color: black;
    animation: c2ng1 3s ease  infinite 0s;
    text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
}
#cn:hover{
    color: black;
    animation: c2ng1 3s ease  infinite 0s;
    text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
}
#ab{
    animation: cng1 3s ease  infinite 0s;
    user-select: none;
    word-spacing: 30opx;
}
#cn{
    animation: cng1 3s ease  infinite 0s;
    user-select: none;
    word-spacing: 30opx;
}
@keyframes cng1 {
    20%{
        text-shadow: 0px 0px 0px red,
                 0px 0px 0px blue;
    }
    40%{
        text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
    }
    60%{
        text-shadow: 0px 0px 0px red,
                 0px 0px 0px blue;
    }
    80%{
        text-shadow: 2px 3px 3px red,
                 -2px -3px -3px blue;
    }
    100%{
        text-shadow: 0px 0px 0px red,
                 0px 0px 0px blue;
    }
}



.sca{
    animation: sca 0.3s 0.2s 1;
}

@keyframes slideshow {
    10%{
        background-image: url(is.jpg);
    }
    20%{
        background-image: url(backgroubd.jpg);
    }
    30%{
        background-image: url(background2.jpg);
    }
    40%{
        background-image: url(background3.jpg);
    }
    50%{
        background-image: url(background4.jpg);
    }
    60%{
        background-image: url(background5.jpg);
    }
    70%{
        background-image: url(backgroubd.jpg);
    }
    80%{
        background-image: url(background2.jpg);
    }
    90%{
        background-image: url(background3.jpg);
    }
    100%{
        background-image: url(background4.jpg);
    }
}

@keyframes sca {
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0.9);
    }
}

.list{
    list-style:square;
    color: blue;
}
.specialize{
    display: flex;
}






@media screen and (min-width :700px){
    .stry{
        display: flex;
    }
    .specializee{
        margin-left: 20px;
        margin-right: 30px;
        font-size: 1.9rem;
        text-shadow: 2px 3px 3px red,
                 -2px -3px 3px blue;
        margin-top: 40px;
    }
    .me{
        width: 100%;
        margin-right: 20px;
        margin-top: 25px;
    }
    .btme{
        margin-left: 0px;
        width: 50%;
        margin-top: 50px;
    }
    .paragraph{
        margin-left: 5px;
        margin-right: 0;
        width: 100%;
        margin-top: 60px;
    }
    
}


@media screen and (max-width: 700px) {
    body{
        overflow-x: hidden;
    }
    .cont{
        text-align: center;
    }
    .hw{
        margin-left: 5%;
        
        width: 90%;
    }
    .artcle{
        display: block;
    }
    #kz{
        font-size: 1.8rem;
    }
    #cds{
        font-size: 1.8rem;
    }
    .ul{
        position: absolute;
        right: 0;
        top: 10%;
        transform: translateY(-200%);
        height: 150px;
        align-items: center;
        flex-direction: column;
        width: 100%;
        font-size: 1.4rem;
        background-color: rgba(0, 0, 0, 0.486);
        
    }
    .burger{
        display: block;
        cursor: pointer;
    }
    .ulmove{
        animation: move 0.7s ease 0.1s 1;

    }
    .uladd{
        transform: translateY(0%);
    }
}
@keyframes move {
    0%{
        transform: translateY(-200%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(0%);
    }
}





    .ulaway{
        animation: away 0.9s ease 0.1s 1;

    }
@keyframes away {
    0%{
        transform: translateY(0%);
    }
    50%{
        transform: translateY(10%);
    }
    100%{
        transform: translateY(-200%);;
    }
}
.ulrem{
    transform: translateY(-200%);
}






.cont{
    font-size: clamp(1.4rem 5vw, 2rem);
}

.ln1{
    animation: cnging1 0.7s ease 0.1s 1;
}
.ln2{
    animation: cnging2 0.1s ease -0.4s  1;
}
.ln3{
    animation: cnging3 0.7s ease 0.1s 1;
}

.lln1{
    transform: rotate(-45deg);
    position: relative;
    top: 7px;
}
.lln2{
    opacity: 0;
}
.lln3{
    transform: rotate(45deg);
        position: relative;
        top: -7px;
}

@keyframes cnging1 {
    0%{
        transform: rotate(0deg);
        position: relative;
        top: 0px;
    }
    100%{
        transform: rotate(-45deg);
        position: relative;
        top: 7px;
    }
}
@keyframes cnging2 {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 0;
    }
}
@keyframes cnging3 {
    0%{
        transform: rotate(0deg);
        position: relative;
        top: 0px;
    }
    100%{
        transform: rotate(45deg);
        position: relative;
        top: -7px;
    }
}

@media screen and (max-width : 450px) {
    .form{
        color: white;
        background-color: white;
        border: 1px solid white;
        margin-top: 70px;
        width: 96%;
        border-radius: 20px;
        margin-left: 2%;
        margin-right: 2%;
        overflow: hidden;
        margin-bottom: 70px;
    
    }
    .nm1{
        width: 43%;
    }
    .nm2{
        width: 43%;
        margin-right: 5%;
    }
    .mil{
        width: 90%;
    }
    .msgg{
        width: 90%;
    }
    .miil{
        width: 100%;
        margin-right: 5%;
    }
    .mesge{
        width: 100%;
        margin-right: 5%;
    }
}
@media screen and (max-width : 320px) {
    .lg{
        font-size: 1.2rem;
        margin-left: 0px;
    }
    nav{
        justify-content: space-between;
    }
    .burger{
        margin-right: 10px;
    }
    .lst{
        font-size: 1rem;
    }
    .wd{
        font-size: 1rem;
    }
}
@media screen and (max-width : 235px) {
    .nm1{
        width: 40%;
    }
    .nm2{
        width: 40%;
        margin-left: 10%;
        margin-right: 5%;
    }
    .req{
        font-size: clamp(0.7rem, 3vw , 1.4rem);
    }
    .reqspecial{
        font-size: clamp(0.7rem, 3vw , 1.4rem);
    }
    .em{
        font-size: clamp(0.9em, 5vw , 1.4rem);
    }
    .eg{
        font-size: clamp(0.9em, 5vw , 1.4rem);
    }
    .nm{
        font-size: clamp(0.9em, 5vw , 1.4rem);
    }
    .wd{
        font-size: 0.8rem;
    }
    .ln{
        font-size: 0.8rem;
    }
}
@media screen and (max-width : 190px) {
    .req{
        font-size: clamp(0.1rem, 1vw , 1.4rem);
        color: green;
    }
    .reqspecial{
        font-size: clamp(0.1rem, 1vw , 1.4rem);
        color: green;
    }
    .em{
        font-size: clamp(0.1em, 4vw , 1.4rem);
    }
    .eg{
        font-size: clamp(0.1em, 4vw , 1.4rem);
    }
    .nm{
        font-size: clamp(0.1em, 4vw , 1.4rem);
    }
    .lg{
        font-size: 0.8rem;
        margin-left: 0px;
    }
}
@media screen and (max-width : 160px) {
    .bt{
        width: 90px;
        font-size: 0.5rem;
    }
    
}

.thered{
    color: red;
}
.noerror-border{
    box-shadow: 0 0 5px rgb(0, 196, 75);
    border: 2px solid rgb(0, 196, 75);
}
.error-border{
    box-shadow: 0 0 5px red;
    border: 2px solid red;
}





